# Ignore Python bytecode cache files
**__pycache__
# Ignore Visual Studio Code settings
.vscode
# Ignore macOS specific files
.DS_Store
# Exclude data, figures, and script logs
data/
results/
*/logs
*.png
